* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------utility-------------- */
.container {
    margin: 0 auto;
    width: 70%;
}
.white {
    background-color: white;
}
.grey {
    background-color: lightgrey;
}
.blue {
    background-image: url(./img/jumbo.png);
    background-size: cover; 
}
.dark  {
    background-color: #23272A;
}
.lilla {
    color: #7289DA;
}
.margin {
    margin: 20px 0;
}
.flex-column {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button-small {
    border-radius: 20px;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 14px;
}
.button-big {
    border-radius: 20px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    margin:  0 10px;
}
.button-white {
    background-color: white;
    color: black;
}
.button-black {
    background-color: #23272A;
    color: white;
}
.button-lilla {
    background-color: #8EA1E1;
    color: white;
}






/*---------------header------------------ */

header {
    color: white;
}
header li {
    list-style-type: none; 
    padding: 0 15px; 
}
header h1 {
    text-align: center;
    font-size: 50px;
}
header p {
    text-align: center;
    padding: 40px 0;
    font-size: 18px;
}
nav {
    display: flex;
    justify-content:space-between;
    text-align: center;
    align-items: center;
}

.nav-box {
    width: 20%;   
}
.nav-box-center {
    width: 60%;
    
}
#header-block {
    padding: 40px 0;
    height: 400px;
    width: 70%;
    margin: 50px auto;
}



/* -----------main------------ */

.box {   
    margin: 70px auto; 
}
.box-pink {
    width: 30%;
}
main h2 {
    font-size: 45px;
    padding: 30px 0;
}
main p {
    font-size: 20px;
}
.box-blue {
    background-size:contain;
    background-repeat: no-repeat;
    width: 70%;   
}
.order-0 {
    order: 0;
}
.order-1 {
    order: 1;
}
.box-green {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    
}
svg{ 
    width: 100%;
    display: block;
}
.grey-wave {
    fill: lightgrey;
}
.white-wave {
    fill: white;
}
.stars {
    background-image: url(./img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 30px;
    height: 50px;
    width: 55%;
    margin: 0 auto;
}
#button-botton {
    margin-top: 20px;
}




/*-----------------fooooooooter----------------*/

footer h3 {
    font-size: 35px;
    margin-bottom: 20px;
}
.box-sx{
    
    height: 300px;
    
    flex-basis: 30%;
}
.box-x4 {
    
    height: 300px;
    
    flex-basis: calc(70% / 4);
}


.flex-footer {
    justify-content:space-between;
}
.box-footer {
    height: 100px;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: self-start;
}
#region {
    
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
}
.box-sx img {
    height: 20px;
}
.social {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
footer svg {
    fill: white;
    height: 25px;
    margin-right: 10px;
}
footer ul {
    list-style-type: none;
    color: white;
}
footer li:first-child {
    list-style-type: none;
    color: #8EA1E1;
}
footer li {
    padding-top: 5px;
}
footer a {
    color: white;
    text-decoration: none;
}
